* {
  padding: 0;
  font-size: medium;
  font-family: sans-serif;
  margin: 0%;
}
body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

.navbar {
  background-color: #0f1e5b;
  display: flex;
  gap: initial;
}

.navbar-brand {
  font-size: 27px;
  color:silver;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav .nav-link {
  color: gray;
}

.navbar-nav .nav-link:hover {
  color: rgb(0, 21, 255);
}

.navbar span {
  color: gray;
}

h1 {
    font: size 45px;
    background-color:rgba(0, 0, 255, 0.375);
    text-align: center;}


.button{
  background-color: lightseagreen;
  border: none;
  border-radius: 5px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-title{
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.container-item-list {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.375);

}


.item-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  background-color: gray;
  padding: 20px;
  border-radius: 20px;
}

.image-container img {
  max-width: 100%; 
  height: auto; 
}

.carrito-checkout {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10em;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  margin-right: 0.5rem;
}

.table-container img {
  max-width: 100px; 
  height: auto; 
}

.carrito-vacio {
  background-color:  rgba(3, 3, 164, 0.822); 
  border: 1px solid #f5c6cb;
  border-radius: 5px; 
  padding: 20px;
  margin-bottom: 20px; 
  text-align: center; 
}

.carrito-vacio p {
  margin-bottom: 10px;
  color: rgb(174, 173, 173);
}

.carrito-vacio button {
  background-color: #dc3545; 
  color: white;
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
}

.carrito-vacio button:hover {
  background-color: #c82333; 
}

.precio-final h2 {margin-bottom: 20px; 
  font-size: 30px; 
  background-color: #0056b3;
  text-align: center;;

}

.form-checkout {
  background-color: rgb(216, 215, 215); 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 30px; 
}

.form-checkout h2 {
  margin-bottom: 20px; 
  font-size: 35px; 
  background-color: #0056b3;
  text-align: center;
}

.form-checkout label {
  font-weight: bold; 
}

.form-group {
  margin-bottom: 20px; 
}

input[type="text"],
input[type="email"] {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ced4da;
  border-radius: 5px; 
}

.btn-primary {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
}

.btn-primary:hover {
  background-color: #0056b3; 
}
/*item.jsx*/

.card-body {
  padding: 20px; /* Espaciado interno */
}

.card-title {
  font-weight: bold; /* Negrita para el título */
}

.card-text {
  margin-bottom: 10px; /* Espaciado inferior entre los textos */
}

.button {
  margin-top: 10px; /* Espaciado superior para el botón */
}
